
.item-image{ position: relative; }

/*Eliminar */
.js-remove-item
{
	background     : black;
	border         : 3px solid red;
	border-radius  : 50%;
	color          : white !important;
	font-weight    : 700;
	height         : 20px;
	position       : absolute;
	right          : 0;
	text-align     : center;
	text-decoration: none;
	top            : 0;
	width          : 20px;
	z-index        : 999;
}